# vim: nomodeline
# for more snippets, visit https://github.com/honza/vim-snippets/tree/master/snippets

# snippet test Test
# 	The year is `strftime('%Y')`


snippet vim vim modeline
	vim: ft=${1:filetype}


